*{
    margin: 0;
}

body {
    background-color: #242225;
    color: whitesmoke;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #293273;
    margin: 0 auto;
    height: 45px;
    border: 1px solid black;
    box-shadow: 8px 5px 4px rgba(0, 8, 5, 0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links {
    display: flex;
    padding: 0;
    list-style: none;
}

.nav-bar h2, a {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.logo {
    margin: 0 0 0 2%;
    font-size: 1.45em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-links a:hover {
    color: #718daa;
}

.footer-holder {
    position: relative;
}

.footer {
    display: flex;
    position: absolute;
    justify-content: space-evenly;
    bottom: 0;
    width: 100%;
    background-color: #293273;
    color: whitesmoke;
    text-align: center;
    height: 45px;
    align-items: center;
}

/* .songs-list {
    display: flex;
    max-height: 0;
    flex-direction: column;
    opacity: 0;
    transition: max-height, opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
} */

/* .band-albums:hover .songs-list {
    max-height: 500px;
    opacity: 1;
    transition: max-height, opacity 1s ease-in;
    transition: opacity 0.5s ease-out;
} */

.songs-list { 
    visibility: hidden; /* hides sub-menu */
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-2em);
    z-index: -1;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  
  .disc-text-content:hover .songs-list {
    visibility: visible; /* shows sub-menu */
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
  }

  .disc-text-content {
      position: relative;
  }