*{
    margin: 0;
}

body {
    background-color: #242225;
    color: whitesmoke;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #293273;
    margin: 0 auto;
    height: 45px;
    border: 1px solid black;
    box-shadow: 8px 5px 4px rgba(0, 8, 5, 0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav-links {
    display: flex;
    padding: 0;
    list-style: none;
}

.nav-bar h2, a {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px 10px;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

.logo {
    margin: 0 0 0 2%;
    font-size: 1.45em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-links a:hover {
    color: #718daa;
}

.footer {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #293273;
    color: whitesmoke;
    text-align: center;
    height: 45px;
    align-items: center;
}

.songs-list {
    display: none; 
}

.band-albums:hover .songs-list {
    display: inherit;
}